/* Card Container */
.card-container {
  width: 600px;
  height: 400px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card-container:hover {
  transform: translateY(-20px);
}

.card-flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-flipper.flipped {
  transform: rotateY(180deg);
}

.card {
  background-color: var(--card-color);
  width: 600px;
  height: 400px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover .card {
  box-shadow: 0 0 20px var(--accent-color);
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.card img {
  width: 100%;
  border-radius: 20px;
}

/* Back Card */
.back-card {
  background-color: var(--card-color);
  line-height: 2;
}

.back-card p {
  color: var(--text-color);
  margin-bottom: 20px;
}

.back-card button {
  padding: 10px 20px;
  background-color: var(--highlight-color);
  border: none;
  border-radius: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.back-card button:hover {
  box-shadow: 0 0 10px var(--accent-color);
}
