nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-color);
  color: var(--title-color);
  padding: 0 40px;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 0 10px black;
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: var(--title-color);
  font-size: 1.1rem;
  transition: 0.2s ease-in-out;
}

li a:hover {
  color: var(--highlight-color);
}
