@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Zalando Sans SemiExpanded;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
